p {
  font-size: 20px;
}

#problem h3 {
  font-size: 25px;
}


#problem .full-div-image {
  -webkit-filter: grayscale(100%);
  filter: gray;
  height: 250px;
}

#problem .full-div-image:hover {
  -webkit-filter: grayscale(0%);
  filter: gray;
  height: 250px;
}
