p {
  font-size: 20px;
}

#problem h3 {
  font-size: 25px;
}


#problem .full-div-image {
  -webkit-filter: grayscale(100%);
  filter: gray;
  height: 250px;
}

/* 
Instead of changing from the grayscale, let's have the text lift up to indicate that it's a link, and we will link each photo to a news article or resource about each problem.
#problem .full-div-image:hover {
  -webkit-filter: grayscale(0%);
  filter: gray;
  height: 250px;
} */
