#features .full-div-image {
  height: 455px;
}

.icon-button {
  font-size: 90px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.icon-button:hover {
  /*background-color: #bd0760 !important;
  border-color: #bd0760 !important;*/
  color: #00bcd4 !important;
}

.scooter-logo {
  max-height: 110px;
  filter: brightness(0) invert(1);
  padding-left: 30px;
  padding-right: 30px;
}

.compatibility-logos {
  margin-bottom: 50px;
}

section#feature.py-5 {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}
