#features .full-div-image {
  height: 375px;
  vertical-align: bottom;
}

.icon-button {
  font-size: 90px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.icon-button:hover {
  /*background-color: #bd0760 !important;
  border-color: #bd0760 !important;*/
  color: #00bcd4 !important;
}
.player-wrapper {
  position: relative;
  padding-top: 52.125%; /* Aspect ratio adjustment: 100 / (9 / 16) */
}
 
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
