.scroll {
  height: 10%;
}

.profile, .profile3, .matt{
  height: 100px;
  display: block;
  margin: 20px 20px 20px -10px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1;
  grid-gap: 30px;
}

.engineers {
  grid-row: 1;
  grid-column: 1 / span 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2;
  grid-gap: 5px;
}

.engineers-1 {
  grid-row: 2;
  grid-column: 1 / span 1;
}

.engineers-2 {
  grid-row: 2;
  grid-column: 2 / span 1;
}

.etc {
  grid-row: 1;
  grid-column: 2 / span 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4;
  grid-gap: 5px;
}

.cs {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1;
  grid-gap: 5px;
}

.cs-head {
  grid-row: 1;
}

.E-head{
  grid-row: 3;
}

.profile3 {
  grid-row: 2;
}

.matt {
  grid-row: 4;
}

.scroll, h2 {
  display: block;
  margin:auto;
}

div {
  display: block;
  margin: auto;
}