body, html {
  height: 100%;
  margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight:normal;
	margin:0;
}

h1{
	font-size:34px;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	letter-spacing: -1px;
	margin:0 0 15px 0;
	text-align:center;
	text-transform:uppercase;
}

h3{
	font-family: 'Montserrat', sans-serif;
	font-size:18px;
	margin:0 0 5px 0;
	text-transform:uppercase;
	font-weight:400;
}

h6{
	font-size:16px;
	color:#888888;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	text-align:center;
	margin:0 0 60px 0;
}

p{
	line-height:24px;
  color:#888888;
	margin:0;
}


.text-white {
  color: white !important;
}

.text-black {
  color: black;
}

.bg-black {
  background-color: black;
  color: white;
}

.center-page-caption{
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.overlay{
    display: block;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.full-width {
    width: 100%;
}
